  <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div style="width: 100%; text-align: center; margin: 0px auto; padding-top: 20px;">
                <img width="300" src="/assets/img/logo.png">
                </div>
                <h1>EVENTS</h1>
            </div>
        </div>
    </div>