<!-- ALL EVENTS -->

   {{#each this.Event}}
  <!-- {{#unless this.removed}} -->
    <div class="row" id="eventDiv">
        <div class="col-lg-4" id="eventList">
            <div style="border-radius: 6px; border-bottom: 5px solid #b4bcc4; border-right: 3px solid #b4bcc4; height: 100px; width:100%; margin-top:5px; text-align: left; margin-right: 10px; font-size: 19px; font-weight: 400; background-color: #eff3f7; padding:5px 8px;">
                
               <div style="font-size: 15px;  float:left;">
                   <!--   Look at the object being passed
                  -->
                            <strong>EVENT NAME: </strong> {{this.dataValues.title}}<br>
                            <strong>EVENT DESCRIPTION: </strong> {{this.dataValues.description}}<br>
                            <strong>EVENT LOCATION: </strong> {{this.dataValues.location}}<br>
                            <strong>EVENT DATE: </strong> {{this.dataValues.date}}
                </div>
                 <div style="padding-top: 5px;  float:right;">         
                           
                           
                            <form action="/attend" method="POST">
                                <input type="hidden" name="removed" value="1" >
                                <button type="submit" class="btn btn-info btn-xs" id="attevebt">ATTEND EVENT</span></button>
                            </form>
                  </div>      
             </div>
             
        </div>
         
    </div>
      <!-- {{/unless}} -->
 {{/each}}